@import './base.css';

#app {
  display: grid;
margin: 0px auto;
  grid-template-columns: 1fr;
  padding: 25px 2rem;
}
body {

  display: flex;
  place-items: baseline;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
 
  
}
